﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>
        Snapshot of the current time: @ViewBag.timeStamp; <br/>

        <a asp-action="SupervisorInfo">
            Click here to see more information about the supervisors.
        </a>
    </div>
</body>
</html>
