﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div>
        These are the supervisors: 

        @foreach (Supervisor supervisor in Model)
        {
            <div>
                
               Id: @supervisor.Id, 
               Name: @supervisor
                <hr />
            </div>
        }    

    </div>
</body>
</html>
